body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: linear-gradient(135deg, #3494e6, rgb(185, 2, 48));
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#todo-container, #registration-container {
  width: 60%;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  box-sizing: border-box;
  margin-top: 20px;
}

#task-input {
  width: calc(100% - 20px);
  padding: 10px;
  margin-bottom: 10px;
  box-sizing: border-box;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 16px;
}

#task-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.task {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #e6e6e6;
  margin-bottom: 8px;
  border-radius: 4px;
  font-size: 14px;
  transition: background-color 0.3s;
}

.task:hover {
  background-color: #d4d4d4;
}

.delete-btn {
  background-color: #ff6666;
  color: #fff;
  border: none;
  padding: 8px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 12px;
  transition: background-color 0.3s;
}

.delete-btn:hover {
  background-color: #e60000;
}

.completed {
  text-decoration: line-through;
  opacity: 0.6;
}

.toggle-checkbox {
  margin-left: 10px;
  cursor: pointer;
}

/* Добавленные стили для формы регистрации */
#registration-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#registration-form input {
  margin-bottom: 10px;
  padding: 10px;
  width: 100%;
  max-width: 300px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 16px;
}

#registration-form button {
  background-color: #5cb85c;
  color: #fff;
  border: none;
  padding: 10px;
  width: 100%;
  max-width: 300px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

#registration-form button:hover {
  background-color: #4cae4c;
}
